<div>
  <h2>Users</h2>
  <% @users.each do |user| %>
    <br/>
    <ul>
      <li>Email: <%= user.email %></li>
      <li>Username: <%= user.username %></li>
      <li>Manager: <%= user.manager ? user.manager.username : 'n/a' %></li>
      <li>Subordinates: <%= user.subordinates.any? ? user.subordinates.map(&:username).join(', ') : 'n/a' %></li>
    </ul>
  <% end %>
  </ul>
</div>
